.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

.experienceBar > div span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}

.experienceBar > div > span div.contornoXpAtual {
    background: var(--blue);
    color: var(--white);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
}